<div class="not-container">
  <h1>
    Search Results
    <a href="/" class="btn btn-info"><i class="fa fa-reply"></i></a>
  </h1>

  <div class="well">
    <legend>Looking for something that was on air?</legend>

    <form class="form-inline" role="form" action="/search" method="post">
      <div class="form-group">
        <label class="sr-only" for="dayInput">Day</label>
        <select class="form-control" id="dayInput" name="day">
          <%
             first_day = Time.at(Songs.first.time).to_i/86400
             last_day = Time.at(Songs.last.time).to_i/86400
             (first_day..last_day).each do |i|
          %>
              <option <%= 'selected' if params[:day]==Time.at(i*86400).getutc.strftime("%Y:%b:%d") %> value="<%= Time.at(i*86400).getutc.strftime("%Y:%b:%d") %>"><%= Time.at(i*86400).getutc.strftime("%A %b %e") %></option>
          <% end %>
        </select>
      </div>
      <div class="form-group">
        <label class="sr-only" for="timeInput">Time</label>

        <div class="input-group" style="width: 90px">
          <input type="text" maxlength="2" id="timeInput" class="form-control" name="time" value="<%= params[:time] %>">
          <span class="input-group-addon">:00</span>
        </div>
      </div>

      <div class="form-group">
        <div class="btn-group">
          <button type="submit" name="AM" value="true" class="btn btn-success <%= 'active' if params[:AM] %>">AM</button>
          <button type="submit" name="PM" value="true" class="btn btn-success <%= 'active' if params[:PM] %>">PM</button>
          <button disabled type="button" class="btn btn-default"><i class="fa fa-search"></i></button>
        </div>
      </div>
      <div class="form-group">
        <label class="sr-only" for="timeInput">Search Range</label>
        <div class="input-group" style="width: 235px">
          <span class="input-group-addon">Search within</span>
          <input type="number" min=".5" step=".5" max="100" maxlength="2" id="timeInput" class="form-control" name="range" value="<%= params[:range] %>">
          <span class="input-group-addon">hours</span>
        </div>      </div>
    </form>
  </div>
  <%= partial(:table, :locals => {:now => false}) %>
</div>
